<h1>Your Favourites</h1>
<% if (favourites && favourites.length > 0) { %>
  <ul>
    <% favourites.forEach(favourite => { %>
      <li>
        <h3><%= favourite.post.title %></h3>
        <% if (favourite.post.image) { %>
          <img src="<%= favourite.post.image %>" alt="<%= favourite.post.title %>" width="200" />
        <% } %>
        <p><%= favourite.post.caption %></p>
        <a href="/post/<%= favourite.post._id %>">View Post</a>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <p>You have no favourites yet.</p>
<% } %>
